{% extends 'base.html.twig' %}

{% block title %}New Role{% endblock %}

{% block body %}
    <h1>Create new Role</h1>
    <a class="btn btn-primary" role="button" href="{{ path('app_role_index') }}"><i class="bi bi-arrow-return-left m-1"></i>Back to list</a>
    {{ include('role/_form.html.twig') }}
{% endblock %}
