{% extends 'base.html.twig' %}

{% block title %}Edit Document{% endblock %}

{% block body %}
    <h1>Edit Document</h1>

    <a class="btn btn-primary" role="button" href="{{ path('app_document_index') }}"><i class="bi bi-arrow-return-left m-1"></i>Back to list</a>
    {{ include('document/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
